################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/CityInfo.API/bin/Debug/net6.0
/CityInfo.API/obj/Debug/net6.0
